/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* ユーザー情報ページ */
.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  /*background-color: #eee;*/
  /*border: 3px dotted rgba(0,0,0,0.1);*/
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

input[type="text"] {
        width: 300px;
        height: 40px;
}

input[type="email"] {
        width: 300px;
        height: 40px;
}

input[type="password"] {
        width: 300px;
        height: 40px;
}

/*.backimage-edit {
  background-attachment: fixed;
  background-image: url("foodiesfeed.com_summer-barbeque-feast.jpg");
  background-position: center;
  background-size: cover;
}*/

.container {
  width: 100%;
  height: 100%;
}

.bg-mask {
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 20px;
  height: 100%;
  background-color:rgba(255,255,255,0.6);

}

.col-md-6 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.1em;
}

.edit-title {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',cursive;
}

.edit-table,th,td {
  width: 450px;
  border: none;
}

button.css3button {
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #f2ffbf 0%,
    #ff82ec 25%,
    #fabe46);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f2ffbf),
    color-stop(0.25, #ff82ec),
    to(#fabe46));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(003,003,003,0.5),
    inset 0px 0px 1px rgba(000,255,051,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(003,003,003,0.5),
    inset 0px 0px 1px rgba(000,255,051,1);
  box-shadow:
    0px 3px 11px rgba(003,003,003,0.5),
    inset 0px 0px 1px rgba(000,255,051,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
}
/* /ユーザー情報ページ */



/* ヘッダー背景画像 */
.backimage-search{
  background-attachment: fixed;
  background-image: image-url("foodiesfeed.com_summer-barbeque-feast.jpg");
  background-position: center;
  background-size: cover;
}
/* /ヘッダー背景画像 */


/* ナビメニュー */
.nav-header {
  color: #f5f5f5;
  display: inline;
}

.logo {
  float: left;
}

.navigation {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #1b2538;*/
}
li {
  float: left;
  border-right: 1px solid #bbbbbb;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #a9bce2;
}
.active {
  background-color: #a9bce2;
}
/* /ナビメニュー */

/*.logo-image {
  background-attachment: fixed;
  background-image: url("29062019055041A.png");
  background-position: center;
}*/



/* 検索フォーム */
.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 30px;
/*  height: 2.0em;
  width: 245px;*/
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
/* /検索フォーム */


/* 店舗リスト */

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.shop-list {
  padding: 0.5em 1em;
    margin: 2em 5px 0 2px;
    color: #5d627b;
    background: white;
    border-top: solid 15px #fbc000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-radius: 4% 4% 4% 4%;
    font-size: 80%;
    position: relative;
    width: 270px;
}

.shop-list p {
    margin: 0;
    padding: 0;
}

.shop-number {
  border-radius: 50%;
  background-color: #ea4334;
  z-index: 1;
  width: 45px;
  height: 45px;
  position: absolute;
  font-size: 30px;
  text-align: center;
  color: white;
  /*right: 250px;*/
  margin: 7px 0px 0px 0px;
}

.shop-name {
  font-size: 20px;
}
/* /店舗リスト */
